<%- include('layout/header') -%>
<title>Edit</title>
</head>
<body>
  <div class="container">
    <h1 class="text-center text-info">Your Products</h1>
    <table class="table table-hover text-info">
      <tr>
        <th>Product's Name</th>
        <th>Price</th>
        <th>Details</th>
        <th>Images</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
<% if(locals.data) { %>
  <%for(x in data.product){%>
    <tr>
      <td><%=data.product[x].prd_name%></td>
      <td><%=data.product[x].prd_price%></td>
      <td><%=data.product[x].prd_details%></td>
      <td style="text-align: center"><img width="130" height="180" src=/static/uploads/<%=data.product[x].prd_image%>" /></td>
      <td><a class="btn btn-info" href="/admin/products/edit/<%=data.product[x]._id%>">Edit</a></td>
      <td><a class="btn btn-info" href="/admin/products/delete/<%=data.product[x]._id%>">Delete</a></td>
    </tr>
  <% } %>
<% } %>
    <tr>
      <td colspan="8"><a class="btn btn-info btn-block" href="#">Back</a></td>
    </tr>
    </table>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>